body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.main {
    width: 100%;
}

.container {
    width: 90%;
    margin: 70px auto 0 auto;
}

.HeaderPage {
    font-size: 1.9rem;
}

@media only screen and ( min-width: 768px ) {
    .container {
        width: 90%;
        padding: 8px;
    }
}
